src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37cf8096-668a-42cd-a87a-6b0423022137" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectFlow" doc:id="6b102599-8e17-4685-84f9-05219d06dc08" >
		<http:listener doc:name="Listener" doc:id="cb008e44-fb92-4970-b4b9-fa6f6f9e8bd0" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="5cb2d36b-37bd-4d4b-8ce4-5cc02f567169" message="start"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="93999cdd-3572-4cd5-85c8-94045a1586cf" />
		<logger level="INFO" doc:name="Logger" doc:id="e8c8822f-1cf8-45f6-b9cc-050d74e806ac" message="end"/>
	</flow>
</mule>
